<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_JRest" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>JRest</display-name>
	<filter>
		<filter-name>AddHeaderFilter</filter-name>
		<filter-class>
			org.cnoss.common.filter.AddHeaderFilter
		</filter-class>
		<init-param>
			<param-name>headers</param-name>
			<param-value>Content-Encoding=gzip</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>AddHeaderFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>RESTfulFilter</filter-name>
		<filter-class>org.cnoss.jrest.ResourceFilter</filter-class>
		<!-- 需要被过滤器忽略的资源扩展名，文件名之前用","隔开 -->
		<init-param>
			<param-name>extNameExcludes</param-name>
			<param-value>gzjs,zip</param-value>
		</init-param>
		<!-- 用户Guice的Module -->
		<init-param>
			<param-name>GuiceModuleClass</param-name>
			<param-value>
				org.cnoss.jrest.test.ContactGuiceModule
			</param-value>
		</init-param>
		<!-- 需要被自动扫描的包名，多个包名之间用","隔开 -->
		<init-param>
			<param-name>resource-package</param-name>
			<param-value>org.cnoss</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>RESTfulFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
