<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_JRest" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>JRest</display-name>

	<!-- 过滤所有的被压缩过的Javascript（*.gzjs） -->
	<filter>
		<filter-name>AddHeaderFilter</filter-name>
		<filter-class>
			org.jrest.core.filter.AddHeaderFilter
		</filter-class>
		<init-param>
			<param-name>headers</param-name>
			<param-value>Content-Encoding=gzip</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>AddHeaderFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>
	
	<!-- 初始化Guice上下文的监听器 -->
	<listener>
		<listener-class>org.jrest.sample.listener.JRest4GuiceSampContextListener</listener-class>
	</listener>

	<!-- 方式（1） -->
	<!-- 以Filter方式处理所有Restful请求 -->
	<filter>
		<filter-name>JRestRequestFilter</filter-name>
		<filter-class>org.jrest.rest.JRestRequestFilter</filter-class>
		<!-- 需要被过滤器忽略的资源扩展名，文件名之前用","隔开 -->
		<init-param>
			<param-name>extNameExcludes</param-name>
			<param-value>gzjs,zip</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JRestRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 方式（2） -->
	<!-- 以Servlet方式处理所有Restful请求 -->
	<!-- 
	<servlet>
		<servlet-name>JRestRequestServlet</servlet-name>
		<servlet-class>org.jrest.rest.JRestRequestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JRestRequestServlet</servlet-name>
		<url-pattern>/contacts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JRestRequestServlet</servlet-name>
		<url-pattern>/contact/*</url-pattern>
	</servlet-mapping>
	-->
</web-app>
