#main {
	background:#eff0f5;
	margin:10px;
	padding:10px;
}

.toolbar {
	background:url(images/bg-toolbar-2.gif) repeat-x;
	padding-left:10px;
	height:26px;
}

.toolbar img {
	margin-right:5px;
	vertical-align:middle;
}

.toolbar a {
	float:left;
	display:block;
	margin:5px 10px 0 0;
}

.cms-list-table {
	border-top:1px solid #d6d6e2;
	border-left:1px solid #d6d6e2;
}

.cms-list-table td,
.cms-list-table th {
	border-right:1px solid #d6d6e2;
	border-bottom:1px solid #d6d6e2;
}

.cms-list-table td {
	text-align:center;
}

.cms-list-table thead tr {
	background:url(images/bg-thead-1.gif) repeat-x;
	line-height:21px;
}

.cms-list-table .over td {
	background:#5c7dc0;
	color:#ffffff;
}

.cms-list-table .over td a {
	color:#ffffff;
}

.cms-list-table .odd {
	background:#ffffff;
}

.cms-list-seq,
.cms-list-chk {
	width:30px;
}

.cms-list-table .op {
	width:150px;
}

.cms-list-table .op a {
	margin-right:5px;
}

.cms-list-table tfoot tr {
	background:url(images/bg-tfoot-1.gif) repeat-x;
	line-height:24px;
}

.cms-pager  ul {
	clear:both;
	float:right;
}

.cms-pager  li {
	float:left;
	margin-right:10px;
	line-height:24px;
}