<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:spry="http://ns.adobe.com/spry">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>联系人详细信息(Spry template)</title>
<!-- 系统缺省的CSS -->
<link href="/css/default.css" rel="stylesheet" type="text/css" />
<!-- JQuery 核心 -->
<script type="text/javascript" src="/javascript/lib/jquery-1.2.5.js"></script>
<!-- Spry 核心 -->
<script language="JavaScript" type="text/javascript" src="/javascript/spry/SpryData.js"></script>
<script language="JavaScript" type="text/javascript" src="/javascript/spry/SpryJSONDataSet.js"></script>
</head>
<body>
	<div spry:region="context">
		<div><span>当前用户： </span><span><b>{name}</b></span></div>
		<div>&nbsp;{name}</div>
		<div>&nbsp;{mobilePhone}</div>
		<div>&nbsp;{EMail}</div>
		<div>&nbsp;{address}</div>
	</div>
	<a href="#" onclick="history.go(-1);void(0);return false;">back</a>
</body>
</html>