.tree a {
	color:#000;
	text-decoration:none;
}

.tree li {
	margin-left:3px;
	padding-left:20px;
	line-height:18px;
	white-space: nowrap;
}

.tree li.root {
	margin-top:-8px;
	padding-left:0;
}

.tree li.leaf {
	background: url(images/leaf.gif) no-repeat;
	margin-left:3px;
}

.tree li.leaf-last {
	background: url(images/leaf-last.gif) no-repeat;
	margin-left:3px;
}

.tree .folder-close {
	background: url(images/expandable-first.gif) no-repeat;
}

.tree .folder-close-last {
	background: url(images/expandable-first.gif) no-repeat;
}

.tree .folder-open {
	background: url(images/collapsable-first.gif) no-repeat;
}

.tree .folder-open-last {
	background: url(images/collapsable-first.gif) no-repeat;
}

.tree .toggler {
	background-image:url(images/spacer.gif);
	float:left;
	margin-left:-34px;
	height:16px;
	width:32px;
	cursor:pointer;
}

.tree ul.ajax {
	background: url(images/spinner.gif) no-repea;
	height: 16px;
}

.tree ul.ajax li {
	display:none;
}

.tree .text {

}

.tree .active {
	background:#3399ff;
	padding:1px 2px;
	border: 1px solid #444;
}