<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>helloworld(Spry template)</title>
<!-- 系统缺省的CSS -->
<link href="/css/default.css" rel="stylesheet" type="text/css" />
<!-- JQuery 核心 -->
<script type="text/javascript" src="/javascript/lib/jquery-1.2.5.js"></script>
<!-- Spry 核心 -->
<script language="JavaScript" type="text/javascript" src="/javascript/spry/SpryData.js"></script>
<script language="JavaScript" type="text/javascript" src="/javascript/spry/SpryJSONDataSet.js"></script>
</head>
<body>
	<h3>Spry template</h3>
	<div spry:region="context">
		<div style="color: blue;font-style: italic;font-size: x-large;"><b>{content}</b></div>
	</div>
</body>
</html>