<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_JRest" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>JRest</display-name>
	<!-- 初始化Guice上下文的监听器 -->
	<listener>
		<listener-class>
			org.jrest.sample.listener.JRest4GuiceSampContextListener
		</listener-class>
	</listener>

	<!-- 配置JRest的服务处理器 -->
	<servlet>
		<servlet-name>JRestRequestServlet</servlet-name>
		<servlet-class>
			org.jrest.rest.JRestRequestServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JRestRequestServlet</servlet-name>
		<!-- 服务的URL前缀 -->
		<url-pattern>/resource/*</url-pattern>
	</servlet-mapping>
</web-app>
