<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>联系人详细信息(Velocity template)</title>
<!-- 系统缺省的CSS -->
<link href="/full/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<br>
	#set($contact = $context.content ) 
	#if(!$contact.id)
		<h4>请输入联系人的相关信息</h4>
		#set($action="/full/contact")
	#else
		<h4>修改联系人<font color=green>"$!{contact.name}"</font>的信息</h4>
		#set($action="/full/contacts/"+$!{contact.id}+"!update")
	#end
	
	<form action="${action}" method="post">
		#if($contact.id)
			<input name="id" type="hidden" value="$!{contact.id}">
		#end
		<table>
			<tr>
				<td>姓    名</td><td><input name="name" type="text" value="$!{contact.name}"></td>	
			</tr>
			<tr>
				<td>手    机</td><td><input name="mobilePhone" type="text" value="$!{contact.mobilePhone}"></td>	
			</tr>
			<tr>
				<td>电子邮箱</td><td><input name="EMail" type="text" value="$!{contact.EMail}"></td>	
			</tr>
			<tr>
				<td>家庭住址</td><td><textarea name="address">$!{contact.address}</textarea></td>
			</tr>
		</table>
		<br/>
		<input type="submit" value="确定">
		<input type="reset" value="取消">
	</form>
	
	<br>
	<img src="/full/images/go.gif" style="margin-bottom: -22px;"><a href="/full/contacts">返回联系人列表</a>
	</br>
</body>
</html>