<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>系统错误信息(Velocity template)</title>
<!-- 系统缺省的CSS -->
<link href="/full/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<center>
	<br>
	#set($msg = $context.errorMessage )
	<img src="/full/images/error.png" style="margin-top:40px;">
	<h3>操作错误：$!{msg}</h3>
	<br>
	<img src="/full/images/go.gif" style="margin-bottom: -22px;"><a href="javascript:history.go(-1);" style="font-weight: bold;font-size: 18px;">返回</a>
	</br>
	</center>
</body>
</html>