<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>系统错误信息(Velocity template)</title>
<!-- 系统缺省的CSS -->
<link href="/full/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<br>
	#set($msg = $context.errorMessage )
	
	<h3>$!{msg}</h3>
	 
	<br>
	<a href="javascript:history.go(-1);">返回联系人列表</a>
	</br>
</body>
</html>